
.homepage {
  padding: 50px;
}

.homepage .mice {
  font-size: xxx-large;
  color: green;
}

.homepage .mute {
  font-size: xxx-large;
  color: red;
}

.homepage .editable {
  border: 1px solid rgba(34,36,38,.15);
  width: 100%; 
  height: 600px;
  overflow-y: scroll;
  font-size: 26px;
  /* display: flex; */
}